In [1]:
# import
import findspark
findspark.init('/home/ubuntu/spark-2.4.0-bin-hadoop2.7')
import pyspark

# spark df basics

## df from a json file

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## set data schema

In [15]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [16]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [17]:
final_struc = StructType(fields=data_schema)

In [18]:
df = spark.read.json('people.json', schema=final_struc)

In [19]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## show columns

In [20]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df['age'] # return a Column object

Column<b'age'>

In [22]:
type(df['age'])

pyspark.sql.column.Column

In [23]:
df.select('age') # return a dataframe with a single column

DataFrame[age: int]

In [24]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [29]:
# select multiple columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## show rows

In [25]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [26]:
df.head(2)[0]

Row(age=None, name='Michael')

In [27]:
type(df.head(2)[0])

pyspark.sql.types.Row

## add column

In [30]:
df.withColumn('double_age', df['age']*2).show() # this return a new df, not inplacing the original one

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## rename column

In [32]:
df.withColumnRenamed('age', 'my_new_age').show() # this return a new df, not inplacing the original one

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## spark temp sql view

In [33]:
df.createOrReplaceTempView('people')

In [35]:
results = spark.sql("SELECT * FROM people") # don't put semicolon at the end of the query

In [36]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [38]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+